<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>About</title>
</head>
<body>
<header class="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <h1 class="fs-4">Voda ogon'</h1>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="basket"> <i class="fa-solid fa-cart-shopping"></i>Корзина</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="signin">Войти</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="aboutus">О нас</a>
        </nav>
    </div>
</header>

<div class="about" style="margin: 50px; padding: 30px; display: flex">
    <img style="width:5000px" src="img/back1.jfif">
    <p class="article" style="font-family: Bahnschrift; font-size: 20px; padding: 35px">xxxx — транснациональная компания, специализирующаяся на мужской одежде и обуви. Штаб-квартира — xxxxx.
        Почти вся продукция xxxx производится сторонними компаниями-подрядчиками вне территории xxxx (в основном в Азии),
        сама компания является правообладателем торговых марок, разрабатывает дизайн продукции и владеет сетью магазинов (около 1150 по всему миру), а также торговых центров xxxx.
        С 20 сентября 2013 года входит в Промышленный индекс Доу Джонса. Xxxx является самым дорогим спортивным брендом в мире.</p>
</div>>
</body>
</html>