<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Корзина</title>
</head>
<body>
<header class="header" style="background-color: aliceblue">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <h1 class="fs-4" style="margin: 20px">Ваши товары</h1>
    </div>
</header>

<div class="basket">

</div>
<div>
    <label id="sum">Общая сумма</label>
</div>
<div>
    <button id="order" type="submit">Оформить</button>
</div>
<div>
<form action="/" method="post" style="height: 150px; margin-top: 50px">

    <div>
        <label>Введите валюту </label>
        <input type="text" name="currency" placeholder="input.....">
    </div>

    <button name="button">Click</button>
</form>
</div>

</body>
</html>